body{
    background-image:  url(./images/header/bg_main.gif);
    background-position: center;
}

.navs{
   height: 30px;
   width: 1020px;
   background-color: purple;
   margin: 0 auto;
   
}

.style{
    color: white;
    line-height: 30px;
}


.cont{
    width: 1020px;
    margin: 0 auto;
    margin-top: 10px;
}